body{
  margin: 0;
}

*
{
  transition: all .3s ease;
}

.container1
{
    background-image: url("../../Assets/General Images & Icons/background.svg");
    background-size: cover;
    background-position:center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px 65px;
    min-width: 780px;
}

.flexcolumns
{
    flex-direction: column;
}

select {
    background: #808080;
    color: #fff;
    width: 140px;
    height: 30px;
  }
  
.time
  {
color: peru;
font-size: x-large;
}

.date
{
    font-size: large;
    color: #fff;
}

.temp1
{
  font-size: large;
color: #fff;
flex-direction: column;
}

  .justify-center
  {
    justify-items: center;
  }

  .temp
  {
   font-size: large;
    color: #fff;
    
  }

  .pad
  {
    padding-block-start: 5px ;
  }

 .sticks{
  color: #fff;
  font-size: xx-large;
 }
 
 .humi
 {
   display: inline-block;
   color: #fff;
   font-size: large;
   
 }

 .align-center
 {
align-items: center;
 }

.gap-bw
{
    gap: 10px;
    display: inline-flex;
}

.gap-bws
{
    gap: 20px;
    display: inline-flex;
}

 .block2
 {display: flex;
  align-items: end;
  justify-content: space-around;
  padding-top: 5px;
 
 }

 .first-image
 {  margin-top: 5px;
    align-self:flex-start;
 }

 .sel1
 {
flex-direction: column;
 }

.big-sticks
{
    width:1.5px;
 height: 40px;
 background-color: #fff;
}

.first
{
  color: #fff;
  display: flex;
  flex-direction: column;
  place-items: center center;
}

.smallstick
{
 width:1.5px;
 height: 20px;
 background-color: #fff;

}

.smallsticks
{
 width:1.5px;
 height: 20px;
 background-color: #fff;
 margin-bottom: 20px;
}

.celsius{
    font-size: larger;
    text-align: center;
    font-weight: 200;
}

.container-2
{
  background-color: black;
  background-size: cover;
  border-radius: 7vh 7vh 0 0;
  margin-top: -7vh;
  min-width:800px;
  
}

.topcontainer2
{
  display: flex;
  justify-content: space-between;
  position:sticky;
  top:0;
  background-color: black;
  border-radius: 7vh 7vh 0 0 ;

}

.headtext
{ text-align:center;
  color: #fff;
  font-size: larger;
  width: 75%;
  margin-top:5px;
margin-bottom: 5px;
}

.icons
{
  color: #fff;
  display: flex;
  flex-wrap: nowrap;
  font-size: smaller;
  padding-right: 65px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.icon-size
{
  padding-right: 5px;
}

.textcontent
{
 font-size: xx-small;
 font-weight: lighter;
 align-self: center;

}

.choose-option
{
width:30px;
}

.botcontainer2
{ margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 5px;
  padding-bottom: 15px;
}

.maindiv
{
padding-right: 25px;
  padding-left: 25px;
  overflow-x: scroll;

}

.maindiv::-webkit-scrollbar
{
  display: none;
}

.firstcontainer
{
  display: flex;
  background-color: #1d1c1c;
  background-size: cover;
}

.textcon
{
align-self: flex-start;
flex-direction: column;
margin-left: 8px;
margin-top: 8px;

}

.imagecon
{
  display: flex;
  flex-direction: column;
  justify-self: end;
}

.toptemp
{
  align-self: flex-end;
}

.imginside
{
  align-self: flex-end;
}

.imgneed
{
  width: 240px;
}

.weats
{
  display: inline-block;
}

.weat
{
  width: 20px;
  height: 20px;
  margin: 5px;
}

.fc
{
color: #fff;
}

.fsm{
  font-size: medium;
  font-weight: bold;
}

.spacebelow
{
  padding-top: 5px;
}

.inlineflex
{
  display: inline-flex;
}

.weathericon
{
  width: 40px;
  height: 20px;

}

.fss
{
  font-size: medium;
  font-weight:lighter;
}

.lastcontainer
{
  display: flex;
  flex-wrap: wrap;
}

.lastcontainerbox
{
  display: flex;
  margin: 5px;
  justify-content: space-between;
  width: 100%;

}

.textbottom
{ margin-left: 70px;
  place-self: flex-start flex-start;
}

.updownarrow
{ margin-right: 70px;
  justify-self: flex-end;
  font-weight: lighter;
}

.arrow
{
  width:15px;
  height: 12px;
}

.citygrid
{
display: flex;
flex-wrap: wrap;
padding-left: 75px;
padding-right: 75px;
padding-bottom: 25px;

}

.citybox
{
  background-color:#808080;
  width:366px;
  height: 50px;
  padding: 10px;
  display: flex;
  
}

.connamecity
{
  display: flex;
  flex-direction: column;
}

.continentname
{
color: #FFF461;
font-size: medium;
align-self: flex-start;
padding-top: 5px;
}

.cityname
{
  color: #fff;
  font-size: medium;
  align-self: flex-end;
}

.tempstatus
{
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  padding-left: 200px;
}

.temperature
{
  text-align: end;
}

.weathericoncity
{
  width:30px;
  height: 20px;
}

@media screen and (width<=1000px)
 {
  .firstcontainer
{
  height: 170px;
}

  .citybox
{
  width:150px;
  height: 50px;
  padding: 10px;
  display: flex;
  
}

.imageneed
{
  width:75px;
  height: 185px;
}

.city-grid
{
  padding-left: 25px;
  padding-right: 25px;
}

.tempstatus
{
  padding-left: 40px;
}

.fsm
{
font-size: 12px;
font-weight: bold;
}

.fss{
  font-size: smaller;
}
}

@media  screen and  (width<=800px)
{
.first
{
  font-size: 14px;
}

.temp1
{
  font-size: 14px;
}

.humi

{
  font-size: 14px;
}

.temp
{
  font-size: 14px;
}

.smallsticks
{
  display: none;
}

.first-image
{
  width:40px;
  height: 40px;
}

.amimage
{
  width:40px;
  height: 40px;
}

.time{
  font-size: 14px;
}

.date
{
  font-size: 14px;
}

.big-sticks
{
display: none;
}

select
{
  width: 80px;
}

.firstcontainer
{
  width:235px;
  height: 200px;
}

.fsm
{
font-size: 12px;
font-weight: bold;
}

.fss{
  font-size: smaller;
}

.weat{
  width:5px;
  height:5px;
}

.imgneed
{
  width:135px;
  height: 130px;;
}

.weathericon
{
  width:10px;
  height: 40px;
}

.citygrid{
  display: flex;
    flex-wrap: wrap;
    padding-left: 75px;
    padding-right: 25px;
    padding-bottom: 25px;
}

}