body {
  font-family: Arial, sans-serif;
}

.board {
  display: flex;
}
h2 {
  text-align: center;
  color: #333;
}
.dashboard {
  display: flex;
  max-width: 800px;
  /* margin: 50px auto; */
  padding: 20px;
  background-color: #e1f5fe;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.sidebar {
  padding: 20px;
}
.logout-btn {
  height: min-content;
}

.back-btn {
  margin:10vh 43vw
}
ul {
  list-style-type: none;
  padding: 0;
}
.projectStats {
  font-size: larger;
  font-weight: bold;
  padding-bottom: 25px;
}
li {
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  font-size: medium;
  font-weight: bold;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginForm {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}

.label-details {
  font-weight: bold;
}
button {
  text-align: center;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.flex-display {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.task-input {
  height: 30px;
  width:20%;
  margin-left: 38vw;
  background-color: #fff;
}
.user-input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input {
  width: calc(100% - 20px);
    margin: 0 auto 10px auto;
    padding: 12px;
    border-radius: 25px;
    border: 2px solid #ddd;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s;
}
.submit {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}
.panel {
  flex: 1;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 10px;
}
.task-list {
  list-style-type: none;
  padding: 0;
}
.notification {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap:10px;
  font-size: medium;
  font-weight: bold;
}
.task-item {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.task-item button {
  margin-left: 5px;
}
.board {
  display: flex;
  flex-wrap: wrap;
}
.column {
  flex: 1;
  margin: 10px;
  padding: 10px;
  width:240px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #e1f5fe;
}
.task {
  margin: 5px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  cursor: grab;
}
.task textarea {
  margin-top: 5px;
  width: calc(100% - 20px);
  display: none;
}
