@import url("../../Assets/files/vars.css");

body {
  margin: 0;
}

* {
  transition: all 0.3s ease;
}

.top-container {
  background-image: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)),
    url("../../Assets/General Images & Icons/background.svg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 3vw 8vh 1vw;
  min-width: 780px;
}

.flex-columns {
  flex-direction: column;
}

select {
  width: 160px;
  height: 40px;
  background-color: var(--bg-grey-tile);
  color: var(--primary-white);
  font-size: x-large;
}

.time {
  color: var(--pale-yellow-text);
  font-size: xx-large;
  display: flex;
  padding-top: 20px;
}

.image {
  width: 10px;
  height: 10px;
  padding-bottom: 20px;
  padding-right: 10px;
}

.am-image {
  height: 46px;
  position: relative;
  top: -6px;
}

.seconds {
font-size: 24px;
position: relative;
top:7px;
}

.date {
  font-size: large;
  color: var(--primary-white);
}

.temperature-diff {
  font-size: large;
  color: var(--primary-white);
  flex-direction: column;
}

.justify-center {
  justify-items: center;
}

.temp {
  font-size: large;
  color: var(--primary-white);
}

.pad {
  padding-block-start: 5px;
}

.sticks {
  color: var(--primary-white);
  font-size: xx-large;
}

.humi {
  display: inline-block;
  color: var(--primary-white);
  font-size: large;
}

.align-center {
  align-items: center;
}

.gap-bw {
  gap: 10px;
  display: inline-flex;
}

.gap-between {
  gap: 20px;
  display: inline-flex;
}

.block2 {
  display: flex;
  align-items: end;
  justify-content: space-around;
  padding-top: 5px;
}

.first-image {
  width: 70px;
  align-self: flex-start;
  position: relative;
  bottom: -1vh;
}

.selectors {
  display: flex;
  flex-direction: column;
  padding-top: 35px;
}

.big-sticks {
  width: 1.5px;
  height: 40px;
  background-color: var(--primary-white);
}

.first {
  color: var(--primary-white);
  display: flex;
  flex-direction: column;
  place-items: center center;
}

.small-stick {
  width: 1.5px;
  height: 15px;
  background-color: var(--primary-white);
}

.small-sticks {
  width: 1.5px;
  height: 15px;
  background-color: var(--primary-white);
  margin-bottom: 30px;
}

.celsius {
  font-size: larger;
  text-align: left;
  font-weight: 200;
  display: flex;
}

.weather-notation {
  align-content: baseline;
  display: flex;
}

.middle-container {
  background-color: var(--primary-black);
  background-size: cover;
  border-radius: 7vh 7vh 0 0;
  margin-top: -7vh;
  min-width: 810px;
}

.middle-top-section {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: var(--primary-black);
  border-radius: 7vh 7vh 0 0;
  z-index: 1;
}

.head-text {
  text-align: center;
  color: var(--primary-white);
  font-size: larger;
  width: 75%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.icons {
  color: var(--primary-white);
  display: flex;
  flex-wrap: nowrap;
  font-size: smaller;
  padding-right: 5vw;
  margin-top: 5px;
  margin-bottom: 5px;
}

.icon-size {
  padding-right: 5px;
}

.icon-combined::after {
  display: block;
  content: " ";
  width: 0;
  height: 2px;
  background-color: var(--bg-selection-blue);
}

.icon-combined:hover::after {
  width: 100%;
  transition: 0.3ms ease;
}

.text-content {
  font-size: small;
  font-weight: lighter;
  align-self: center;
  width: 80px;
  color: var(--primary-white);
}

.option {
  background-color: var(--bg-grey-tile);
  width: 30px;
  color: var(--primary-white);
  border-color: var(--primary-white);
  text-align: center;
}

.bot-container {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2vw 5vw;
}

.maindiv {
  overflow-x: scroll;
  gap: 40px;
}

.maindiv::-webkit-scrollbar {
  display: none;
}

.first-container {
  display: flex;
  background-color: var(--bg-dark-grey-tile);
  background-size: cover;
  padding: 1vw;
}

.first-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.text-con {
  align-self: flex-start;
  flex-direction: column;
  margin-left: 8px;
  margin-top: 8px;
  width: 100px;
  gap: 4px;
  display: inline-flex;
}

.image-con {
  display: flex;
  flex-direction: column;
  justify-self: end;
  padding-top: 8px;
  padding-right: 8px;
}

.top-temp {
  align-self: flex-end;
}

.img-inside {
  align-self: flex-end;
}

.img-top-inside {
  width: 140px;
}

.weats {
  display: inline-block;
}

.weat {
  width: 20px;
  height: 20px;
  padding-right: 2px;
}

.font-color {
  color: var(--primary-white);
}

.font-size-medium {
  font-size: medium;
  font-weight: bold;
}

.space-below {
  padding-top: 5px;
}

.inlineflex {
  display: inline-flex;
}

.weather-icon {
  gap: 4px;
  display: flex;
  flex-direction: column;
}

.icons-weather {
  display: flex;
  gap: 2px;
}

.font-size-small {
  font-size: medium;
  font-weight: lighter;
}

@media screen and (width<=800px) {
  .first {
    font-size: 14px;
  }

  .am-image {
    width: 20px;
    height: 20px;
  }

  .temperaturediff {
    font-size: 14px;
  }

  .humi {
    font-size: 14px;
  }

  .temp {
    font-size: 14px;
  }

  .small-sticks {
    display: none;
  }

  .first-image {
    width: 40px;
    height: 40px;
  }

  .time {
    font-size: 20px;
    height: 20px;
  }

  .citybox {
    width: 190px;
    height: 50px;
    padding: 10px;
    display: flex;
  }

  .date {
    font-size: 14px;
  }

  .big-sticks {
    display: none;
  }

  select {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--bg-grey-tile);
    color: var(--primary-white);
    font-size: large;
  }

  .firstcontainer {
    width: 235px;
    height: 200px;
  }

  .font-size-medium {
    font-size: 12px;
    font-weight: bold;
  }

  .font-size-small {
    font-size: smaller;
  }

  .weat {
    width: 5px;
    height: 5px;
  }

  .img-top-inside {
    width: 140px;
  }

  .weather-icon {
    width: 10px;
    height: 40px;
  }

  .citygrid {
    display: flex;
    flex-wrap: wrap;
    padding-left: 17vw;
    padding-right: 17vw;
    padding-bottom: 25px;
  }
}

@media screen and (width<=600px) {
  .font-size-small {
    font-size: smaller;
  }

  .weat {
    width: 5px;
    height: 5px;
  }

  .img-top-inside {
    width: 140px;
  }

  .weather-icon {
    width: 10px;
    height: 40px;
  }

  .citygrid {
    display: flex;
    flex-wrap: wrap;
    padding-left: 17vw;
    padding-right: 17vw;
    padding-bottom: 25px;
  }
}

@media screen and (width<=600px) {
  .citygrid {
    display: flex;
    flex-wrap: wrap;
    padding-left: 25vw;
    padding-right: 25vw;
    padding-bottom: 25px;
  }
}
